@import-normalize;

:root {
  --white-text-color: #fff;
  --black-text-color: #000;
  --accent-color: #83a954;
  /* --shadow-hover: 7px 13px 14px rgba(116, 177, 232, 0.24);
  --shadow-input-hover: 7px 9px 9px rgba(73, 96, 117, 0.1); */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
li {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
select {
  font: inherit;
  outline: none;
  border: none;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  min-width: 320px;
  max-width: 1600px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
  background-color: #fdfdfd;
  color: #050505;
  font-weight: 400;
}
.mainContainer {
  margin: 0 auto;
  width: 320px;
  /* max-width: 480px; */
  @media screen and (min-width: 768px) {
    /* max-width: 768px; */
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    /* max-width: 1280px; */
    width: 1280px;
  }
}
